html, body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	height: 100%;
}

h1 {
	display: block;
	color: #19afdf;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 0 0;
}

h2 {
	display: block;
	color: #19afdf;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 0;
}
hr {
  border: 1px solid #ccc;
}

input:focus {
  outline-width: 0;
}

button:focus {
  outline-width: 0;
}

.box {
	margin-left: 5%;
	width: 90%;
	background-color: #eee;
	border-radius: 5px;
	padding: 5px;
}

.clickdiv {
	cursor: pointer;
	margin-left: 20px;
	font-size: 14px;
	padding: 5px;
	border-radius: 5px;
}

.clickdiv:hover {
	background-color: #fff;
	border-style: dashed;
	border-color: #aaa;
	border-width: 1px;
}

.lkrosmap-map {
	margin-left: 0px;
	background-color: #eee;
	border-radius: 5px;
	padding: 4px;
	height: 90%;
}

.lkrosmap-sperrdiv {
	background: black;
	opacity: .5;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:100;
}

.lkrosmap-info-overlay{
	display: none;
	position:fixed;
	top:-1600px;
	left: 20%;
	right: 20%;
	background-color:#D5FFD5;
	color:#444;
	padding: 10px;
	border:2px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index:101;
	max-height: 80%;
	overflow: scroll;
}
.lkrosmap-info-overlay h1 {
	font-size: 1.2em;
	color: #4285F4;
	border-bottom: 1px dashed #7F7F7F;
	margin:-10px -10px 5px -10px;
	padding: 7px 0px 0px 10px;
	background-color: #aaffaa;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-top-left-radius: 10px;
	-khtml-border-top-right-radius: 10px;
	height: 25px;
}
.lkrosmap-info-overlay h2 {
	font-size: 1em;
	color: #235CBB;
	margin: 4px 0px 0px 0px;
}
a.lkrosmap-info-overlay-close {
	float: right;
	margin: -5;
	cursor: pointer;
	color: #fff;
	border: 1px solid #AEAEAE;
	border-radius: 50px;
	background: #ef7472;
	font-size: 10px;
	/* font-weight: bold; */
	display: block;
	line-height: 16px;
	width: 16px;
	height: 16px;
	text-align: center;

}
.lkrosmap-info-overlay-close:before {
	content: "\f00d";
	font-family: FontAwesome;
}

.lkrosmap-infowindow {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 5px;
  padding-right: 7px;
  border-radius: 5px;
  border: 1px solid #ccc;
  bottom: 15px;
  left: -50px;
  min-width: 200px;
  max-width: 500px;
  width: 300px;
  font-size: 1em;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.6);
  z-index: 2;
}

.lkrosmap-infowindow:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.lkrosmap-infowindow:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.lkrosmap-infowindow:before {
  border-top-color: #ccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.lkrosmap-infowindow-closer {
  text-decoration: none;
  position: absolute;
  top:   .5ex;
  right: .7em;
}

.lkrosmap-infowindow-closer:after {
  content: "✖";
}

.lkrosmap-infowindow-title {
  font-weight: bold;
  padding-bottom: 2px;
}

.lkrosmap-infowindow-data {
  padding-bottom: 10px;
  max-height: 500px;
  overflow: scroll;
}

.lkrosmap-infowindow-image {
  padding-top: 2px;
  max-width: 200px;
}

.lkrosmap-infowindow-remove-feature {
  text-decoration: none;
  color: black;
}

.lkrosmap-infowindow-functions {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #ccc;
}

.lkrosmap-data-spacer {
  margin-top: 2px;
  margin-bottom: 2px;
  border-top: 1px solid #ccc;
}