.lkrosmap-search-control {
  top: 54px;
  left: 6px;
}

#LkRosMap\.searchButton {
  display: inline;
}

#LkRosMap\.searchBox {
  display: none;
  float: right;
  margin-left: 2;
}

#LkRosMap\.searchField {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 600px;
}

.lkrosmap-search-result-box {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #eff8ff;
  max-width: 675;
  max-height: 600;
  overflow: scroll;
}

#LkRosMap\.searchFieldClear {
  display: none;
  margin-left: -18px;
  margin-right: 4px;
  color: gray;
}

#LkRosMap\.searchLos {
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 2px;
  float: right;
}

.lkrosmap-search-overlay {
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: #eeeeee;
  opacity: 0.8;
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 9990;
}

.lkrosmap-search-animation {
  margin-left: 45%;
  margin-top: 25%;
  color: #4285F4;
  z-index:999;
}

#LkRosMap\.addressSearchButton {
  display: inline;
}

.lkrosmap-search-type-selected {
  background-color: rgba(136, 0, 60, 0.5) !important;
}