.ol-zoom {
  top: 60px;
  left: 6px;
}

.lkrosmap-mapper-scale-line {
  border: 3px solid rgba(255, 255, 255, .6);
  background: rgb(0, 60, 136, .7);
  bottom: 3px;
  left: 6px;
}

.lkrosmap-mapper-scale-line-inner {
  margin: 2px;
  background: none;
  border: 2px solid white;
  border-radius: 0px;
  border-top: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  will-change: contents,width;
  position: static; 
}

/*
.lkrosmap-feature-info-control {
  top: 110px;
  left: 6px;
}
*/

.lkrosmap-layerswitcher-control {
  top: 107px;
  left: 6px;
}

#LkRosMap\.layerSwitcherButton {
  display: inline;
}

#LkRosMap\.layerSwitch {
  display: none;
  float: right;
  margin-left: 5px;
  padding: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, .8);
}

.lkrosmap-legend-control {
  bottom: 41px;
  left: 6px;
}

#LkRosMap\.legendButton {
  display: inline;
}

#LkRosMap\.legend {
  display: none;
  float: right;
  margin-left: 5px;
  padding: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, .8);

}

.lkrosmap-mouse-position-control {
  top: 5px;
  right: 32px;
  position: absolute;
  z-index: 1;
  background: rgba(0,60,136, .4);
  height: 16px;
  padding: 3 9 0 9;
  text-align: center;
  color: #eee;
  border: 3px solid rgba(255, 255, 255, .6);
  border-radius: 4px;
}

.lkrosmap-config-control {
  top: 5px;
  right: 5px;
}

#LkRosMap\.featureSearchButton {
  display: inline;
}

.lkrosmap-search-button {
  color: white;
  background-color: #c0c0c0;
  padding: 3;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
