.lkrosmap-routing-control {
  top: 33px;
  left: 6px;
  z-index: 3;
}

#LkRosMap\.routeSearchButton {
  display: inline;
  float: left;
}

#LkRosMap\.routingBox {
  display: none;
  margin-left: 2;
  width: 600px;
}

#LkRosMap\.routeSearchFields {
  float: left;
  margin-left: 2px;
}

.lkrosmap-route-search-field {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 2px;
  width: 553px;
  height: 20px;
}

#LkRosMap\.routeFromLos {
  display: none;
}

#LkRosMap\.routeToLos {
  display: none;
}

#LkRosMap\.routingInfo {
  display: none;
  margin-left: 5px;
  padding: 1 5 1 5;
  background-color: #ffe3b9;
  border-radius: 2px;
}